adf/pipeline/pipeline4_with switch.json
{
	"name": "pipeline4_with switch",
	"properties": {
		"activities": [
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.swithparam",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Julien"
						}
					],
					"defaultActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "switchDefaultName",
								"value": "Yassine"
							}
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"SourceFileName": "adfTrainingcsv.csv",
						"Name": {
							"value": "@variables('switchDefaultName')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"swithparam": {
				"type": "string",
				"defaultValue": "Default"
			}
		},
		"variables": {
			"switchDefaultName": {
				"type": "String",
				"defaultValue": "Yassine"
			}
		},
		"annotations": []
	}
}